@theme {
  --color-primary: #645b6a;
  --color-onPrimary: #ffffff;
  --color-primaryContainer: #ebdef0;
  --color-onPrimaryContainer: #4c4452;
  --color-secondary: #625c65;
  --color-onSecondary: #ffffff;
  --color-secondaryContainer: #e9dfeb;
  --color-onSecondaryContainer: #4a454e;
  --color-tertiary: #665a6f;
  --color-onTertiary: #ffffff;
  --color-tertiaryContainer: #edddf6;
  --color-onTertiaryContainer: #4e4356;
  --color-error: #ba1a1a;
  --color-onError: #ffffff;
  --color-errorContainer: #ffdad6;
  --color-onErrorContainer: #93000a;
  --color-background: #fdf8fa;
  --color-onBackground: #1d1b1d;
  --color-surface: #fdf8fa;
  --color-surfaceDim: #ded9da;
  --color-surfaceBright: #fdf8fa;
  --color-surfaceContainerLowest: #ffffff;
  --color-surfaceContainerLow: #f8f2f4;
  --color-surfaceContainer: #f2ecee;
  --color-surfaceContainerHigh: #ece7e9;
  --color-surfaceContainerHighest: #e6e1e3;
  --color-onSurface: #1d1b1d;
  --color-surfaceVariant: #e6e1e3;
  --color-onSurfaceVariant: #484648;
  --color-outline: #797678;
  --color-outlineVariant: #cac5c7;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #323031;
  --color-inverseOnSurface: #f5eff1;
  --color-inversePrimary: #cec2d4;
}

[data-theme="dark"] {
  --color-primary: #cec2d4;
  --color-onPrimary: #352e3b;
  --color-primaryContainer: #4c4452;
  --color-onPrimaryContainer: #ebdef0;
  --color-secondary: #cdc4ce;
  --color-onSecondary: #342f37;
  --color-secondaryContainer: #4a454e;
  --color-onSecondaryContainer: #e9dfeb;
  --color-tertiary: #d0c1d9;
  --color-onTertiary: #372c3f;
  --color-tertiaryContainer: #4e4356;
  --color-onTertiaryContainer: #edddf6;
  --color-error: #ffb4ab;
  --color-onError: #690005;
  --color-errorContainer: #93000a;
  --color-onErrorContainer: #ffdad6;
  --color-background: #141314;
  --color-onBackground: #e6e1e3;
  --color-surface: #141314;
  --color-surfaceDim: #141314;
  --color-surfaceBright: #3b393a;
  --color-surfaceContainerLowest: #0f0e0f;
  --color-surfaceContainerLow: #1d1b1d;
  --color-surfaceContainer: #211f21;
  --color-surfaceContainerHigh: #2b292b;
  --color-surfaceContainerHighest: #363436;
  --color-onSurface: #e6e1e3;
  --color-surfaceVariant: #484648;
  --color-onSurfaceVariant: #cac5c7;
  --color-outline: #939091;
  --color-outlineVariant: #484648;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #e6e1e3;
  --color-inverseOnSurface: #323031;
  --color-inversePrimary: #645b6a;
}
