@theme {
  --color-primary: #006b1a;
  --color-onPrimary: #ffffff;
  --color-primaryContainer: #268630;
  --color-onPrimaryContainer: #f7fff1;
  --color-secondary: #446741;
  --color-onSecondary: #ffffff;
  --color-secondaryContainer: #c2eaba;
  --color-onSecondaryContainer: #486b44;
  --color-tertiary: #006195;
  --color-onTertiary: #ffffff;
  --color-tertiaryContainer: #007abb;
  --color-onTertiaryContainer: #fdfcff;
  --color-error: #ba1a1a;
  --color-onError: #ffffff;
  --color-errorContainer: #ffdad6;
  --color-onErrorContainer: #93000a;
  --color-background: #f6fbf0;
  --color-onBackground: #181d16;
  --color-surface: #f6fbf0;
  --color-surfaceDim: #d6dcd1;
  --color-surfaceBright: #f6fbf0;
  --color-surfaceContainerLowest: #ffffff;
  --color-surfaceContainerLow: #f0f5ea;
  --color-surfaceContainer: #eaf0e4;
  --color-surfaceContainerHigh: #e5eadf;
  --color-surfaceContainerHighest: #dfe4d9;
  --color-onSurface: #181d16;
  --color-surfaceVariant: #dbe6d4;
  --color-onSurfaceVariant: #3f4a3d;
  --color-outline: #6f7a6b;
  --color-outlineVariant: #bfcab9;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #2c322a;
  --color-inverseOnSurface: #edf3e7;
  --color-inversePrimary: #7ddc7a;
}

[data-theme="dark"] {
  --color-primary: #7ddc7a;
  --color-onPrimary: #00390a;
  --color-primaryContainer: #46a349;
  --color-onPrimaryContainer: #002b06;
  --color-secondary: #aad1a2;
  --color-onSecondary: #163716;
  --color-secondaryContainer: #2f512d;
  --color-onSecondaryContainer: #9cc395;
  --color-tertiary: #95ccff;
  --color-onTertiary: #003352;
  --color-tertiaryContainer: #1a98e4;
  --color-onTertiaryContainer: #00263e;
  --color-error: #ffb4ab;
  --color-onError: #690005;
  --color-errorContainer: #93000a;
  --color-onErrorContainer: #ffdad6;
  --color-background: #0f150e;
  --color-onBackground: #dfe4d9;
  --color-surface: #0f150e;
  --color-surfaceDim: #0f150e;
  --color-surfaceBright: #353b33;
  --color-surfaceContainerLowest: #0a1009;
  --color-surfaceContainerLow: #181d16;
  --color-surfaceContainer: #1c211a;
  --color-surfaceContainerHigh: #262b24;
  --color-surfaceContainerHighest: #31362f;
  --color-onSurface: #dfe4d9;
  --color-surfaceVariant: #3f4a3d;
  --color-onSurfaceVariant: #bfcab9;
  --color-outline: #899484;
  --color-outlineVariant: #3f4a3d;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #dfe4d9;
  --color-inverseOnSurface: #2c322a;
  --color-inversePrimary: #006e1b;
}
