@theme {
  --color-black: #303030;
  --color-blackContainer: #f1f1f1;
  --color-onBlackContainer: #262626;
  --color-red: #de3054;
  --color-redContainer: #f77483;
  --color-onRedContainer: #44292b;
  --color-green: #5e8129;
  --color-greenContainer: #8da667;
  --color-onGreenContainer: #2e3226;
  --color-yellow: #c3830d;
  --color-yellowContainer: #e3af65;
  --color-onYellowContainer: #392f21;
  --color-blue: #3d79c4;
  --color-blueContainer: #80a0d2;
  --color-onBlueContainer: #2c313a;
  --color-magenta: #c2469d;
  --color-magentaContainer: #da80b8;
  --color-onMagentaContainer: #3d2b35;
  --color-cyan: #0f8296;
  --color-cyanContainer: #71a5b3;
  --color-onCyanContainer: #293234;
  --color-white: #303030;
  --color-whiteContainer: #f1f1f1;
  --color-onWhiteContainer: #262626;
  --color-teal: #97c3ab;
  --color-tealContainer: #c9e0d1;
  --color-onTealContainer: #393c3a;
  --color-maroon: #c67b8b;
  --color-maroonContainer: #d5a4ac;
  --color-onMaroonContainer: #42393a;
  --color-mauve: #b3b4f0;
  --color-mauveContainer: #d9d7f9;
  --color-onMauveContainer: #3c3b40;
  --color-peach: #ffb4b0;
  --color-peachContainer: #ffe1df;
  --color-onPeachContainer: #4e4544;
  --color-lime: #a4c54c;
  --color-limeContainer: #cfe29a;
  --color-onLimeContainer: #3a3d31;
  --color-rosewater: #ffd9dc;
  --color-rosewaterContainer: #fde2e3;
  --color-onRosewaterContainer: #625d5d;
}

[data-theme="dark"] {
  --color-black: #b9b9b9;
  --color-blackContainer: #474747;
  --color-onBlackContainer: #e2e2e2;
  --color-red: #ffb2b7;
  --color-redContainer: #a63647;
  --color-onRedContainer: #ffeced;
  --color-green: #abd370;
  --color-greenContainer: #4f652e;
  --color-onGreenContainer: #eff3e0;
  --color-yellow: #ffb950;
  --color-yellowContainer: #9a6e2b;
  --color-onYellowContainer: #ffeedc;
  --color-blue: #a6c8ff;
  --color-blueContainer: #40608e;
  --color-onBlueContainer: #ecf1fd;
  --color-magenta: #ffadde;
  --color-magentaContainer: #904276;
  --color-onMagentaContainer: #ffecf4;
  --color-cyan: #78d3e9;
  --color-cyanContainer: #2f6571;
  --color-onCyanContainer: #e9f2f5;
  --color-white: #b9b9b9;
  --color-whiteContainer: #474747;
  --color-onWhiteContainer: #e2e2e2;
  --color-teal: #749985;
  --color-tealContainer: #637d6f;
  --color-onTealContainer: #e0e4df;
  --color-maroon: #965866;
  --color-maroonContainer: #80515b;
  --color-onMaroonContainer: #f1dee0;
  --color-mauve: #8c8dbf;
  --color-mauveContainer: #747498;
  --color-onMauveContainer: #e4e1ea;
  --color-peach: #cd8e8b;
  --color-peachContainer: #a77976;
  --color-onPeachContainer: #f0dfdd;
  --color-lime: #7f9b35;
  --color-limeContainer: #6b7f36;
  --color-onLimeContainer: #e1e5ce;
  --color-rosewater: #c3a4a6;
  --color-rosewaterContainer: #b0989a;
  --color-onRosewaterContainer: #eae0e0;
}
