@theme {
  --color-black: #1b1b1b;
  --color-blackContainer: #3b3b3b;
  --color-onBlackContainer: #1c1b1b;
  --color-red: #de3054;
  --color-redContainer: #d08b90;
  --color-onRedContainer: #261819;
  --color-green: #5e8129;
  --color-greenContainer: #8fa56d;
  --color-onGreenContainer: #191d12;
  --color-yellow: #cc7e1c;
  --color-yellowContainer: #e5ad76;
  --color-onYellowContainer: #25190e;
  --color-blue: #3d79c4;
  --color-blueContainer: #86a0ca;
  --color-onBlueContainer: #171c24;
  --color-magenta: #c2469d;
  --color-magentaContainer: #c58dad;
  --color-onMagentaContainer: #24181f;
  --color-cyan: #20856d;
  --color-cyanContainer: #72a896;
  --color-onCyanContainer: #141d1a;
  --color-white: #f1f1f1;
  --color-whiteContainer: #e3e2e2;
  --color-onWhiteContainer: #3c3b3b;
  --color-teal: #a9cfaf;
  --color-tealContainer: #d0e9d2;
  --color-onTealContainer: #191d19;
  --color-maroon: #eba6b6;
  --color-maroonContainer: #ffd9e0;
  --color-onMaroonContainer: #22191b;
  --color-mauve: #cbbffd;
  --color-mauveContainer: #e6deff;
  --color-onMauveContainer: #1d1b22;
  --color-peach: #ffc7c6;
  --color-peachContainer: #ffdad9;
  --color-onPeachContainer: #2b2424;
  --color-lime: #ffce62;
  --color-limeContainer: #ffdf9f;
  --color-onLimeContainer: #2c2519;
  --color-rosewater: #ffe1e2;
  --color-rosewaterContainer: #f3dede;
  --color-onRosewaterContainer: #383434;
}

[data-theme="dark"] {
  --color-black: #777676;
  --color-blackContainer: #313030;
  --color-onBlackContainer: #f4f0ef;
  --color-red: #ffb2b8;
  --color-redContainer: #93464f;
  --color-onRedContainer: #ffeced;
  --color-green: #acd371;
  --color-greenContainer: #516435;
  --color-onGreenContainer: #eff3e0;
  --color-yellow: #ffb86e;
  --color-yellowContainer: #9b6d3b;
  --color-onYellowContainer: #ffeee0;
  --color-blue: #a6c8ff;
  --color-blueContainer: #476086;
  --color-onBlueContainer: #ecf1fd;
  --color-magenta: #ffaede;
  --color-magentaContainer: #894872;
  --color-onMagentaContainer: #ffecf4;
  --color-cyan: #7cd7bc;
  --color-cyanContainer: #3b6658;
  --color-onCyanContainer: #e9f3ed;
  --color-white: #c6c6c7;
  --color-whiteContainer: #d6d4d4;
  --color-onWhiteContainer: #f3f0ef;
  --color-teal: #aad0b0;
  --color-tealContainer: #9caf9e;
  --color-onTealContainer: #eff2eb;
  --color-maroon: #fab3c4;
  --color-maroonContainer: #bb949c;
  --color-onMaroonContainer: #feedef;
  --color-mauve: #cabefc;
  --color-mauveContainer: #afa7c8;
  --color-onMauveContainer: #f4eff8;
  --color-peach: #f0b9b8;
  --color-peachContainer: #d2b1b0;
  --color-onPeachContainer: #fceeed;
  --color-lime: #efc055;
  --color-limeContainer: #d3b57a;
  --color-onLimeContainer: #fcefdb;
  --color-rosewater: #dcc0c1;
  --color-rosewaterContainer: #dac8c8;
  --color-onRosewaterContainer: #f7efee;
}
