@import './lib/tokens/themes.css';

@layer defaults {
	:root {
		color-scheme: light;
	}

	[data-theme='dark'] {
		color-scheme: dark;
	}

	body {
		font-family: var(--font-serif);
		background-color: var(--color-background);
		color: var(--color-onBackground);
		transition:
			background-color 0.3s ease,
			color 0.3s ease;
	}
}
