<div class="metro-accordion">
  <button
    type="button"
    class="metro-accordion-header"
    (click)="toggle()"
    [attr.aria-expanded]="expanded"
  >
    <div class="accordion-title-section">
      @if (icon) {
        <span [class]="icon + ' accordion-icon'"></span>
      }
      <span class="accordion-title">{{ title }}</span>
    </div>
    
    @if (expanded) {
      <span class="icon-[iconoir--nav-arrow-up] accordion-chevron"></span>
    } @else {
      <span class="icon-[iconoir--nav-arrow-down] accordion-chevron"></span>
    }
  </button>
  
  @if (expanded) {
    <div class="metro-accordion-content">
      <ng-content />
    </div>
  }
</div>